body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  background-image: url(./fondo.jpg);
  background-size:250%; /* Hace que la imagen cubra todo el contenedor */
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.upload-container {
  position: relative;
  top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff00;
  border-radius: 10px;
}

.texto-imagen{
  position: absolute;
  top: -53vh;
  width: 30vh;
  height: 30vh;
}

.upload-container button {
  background-color: #ff58bf;
  color: white;
  border: none;
  padding: 10px 20px;
  position: absolute;
  top: -18vh;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 10px;
}

.texto {
  position: absolute;
  color: #1b1b1b;
  top: -25vh;
  left: -100vw;
  animation: slideIn 4s forwards; /* Aplica la animación */
}

/* Define la animación */
@keyframes slideIn {
  from {
    left: -100vw;
  }
  to {
    left: 7vh;
  }
}

.imagen{
  position: relative;
  width: 40vh;
  height: 50vh;
  top: -11vh;
  left: -1vh;
}

.upload-container button:hover {
  background-color: #b30068;
}

.upload-container input[type="file"] {
  display: none;
}

.upload-container label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.upload-container label:hover {
  background-color: #0056b3;
}

.preview-container {
  margin-top: 20px;
  text-align: center;
}

.success-message{
  position: absolute;
  top: -11.5vh;
  font-weight: 10px;
}

.image-preview {
  max-width: 100%;
  z-index: 999;
  max-height: 400px;
  border: 2px solid #ddd;
  border-radius: 10px;
  position: relative;
  margin-top: -100vh;
  top: -17vh;
  left: px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-container p {
  font-size: 14px;
  color: #666;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.carousel-container {
  width: 100% auto;
  height: 100% auto;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slide img {
  width: 50%; /* Ajusta el ancho de las imágenes al 10% del contenedor */
  height: 100vh; /* Ajusta la altura de las imágenes al 100% de la ventana */
  object-fit:scale-down; /* Ajusta la imagen para cubrir todo el contenedor */
  object-position: center;
}
